@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Source Code Pro";
        src: url("/fonts/sourcecodepro-light.woff") format("woff")
            url("/fonts/sourcecodepro-light.woff2") format("woff2");
        font-weight: 300;
    }

    @font-face {
        font-family: "Source Code Pro";
        src: url("/fonts/sourcecodepro-regular.woff") format("woff")
            url("/fonts/sourcecodepro-regular.woff2") format("woff2");
        font-weight: 400;
    }

    @font-face {
        font-family: "Source Code Pro";
        src: url("/fonts/sourcecodepro-semibold.woff") format("woff")
            url("/fonts/sourcecodepro-semibold.woff2") format("woff2");
        font-weight: 700;
    }

    html {
        font-family: "Source Code Pro", sans-serif;
        scroll-behavior: smooth;
    }

    body {
        @apply bg-slate-200 dark:bg-slate-800 text-black dark:text-white text-sm sm:text-base;
    }
}

@layer utilities {
    #root {
        --padding: 1.2em;
        --content-width: 90ch;

        @apply grid min-h-screen scroll-py-6 sm:scroll-py-8 md:scroll-py-12;

        grid-template-columns:
            [full-bleed-start] minmax(var(--padding), 1fr)
            [content-start] min(100% - var(--padding) * 2, var(--content-width)) [content-end]
            minmax(var(--padding), 1fr) [full-bleed-end];
        grid-template-rows: auto 1fr auto;
    }

    #root > :not(.full-bleed),
    .full-bleed > :not(.full-bleed) {
        @apply col-[content] ;
    }

    .full-bleed {
        @apply col-[full-bleed] grid grid-cols-[inherit];
    }

    .link-item.active {
        @apply font-semibold;
    }

    .hero {
        background: url("assets/images/article-image-hero.png") no-repeat center center fixed;
        background-size: cover;
    }
}